<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="well" ng-if="vm.requestedSubstitutionForms.length">
      <h1>Requested substitution forms</h1>

      <table class="table table-striped table-hover">
        <tr>
          <th>Event</th>
          <th>Event time</th>
          <th>Member to substitute</th>
          <th>Reason for substitution</th>
        </tr>

        <tr ng-repeat="form in vm.requestedSubstitutionForms">
          <td>{{form.event__title}}</td>
          <td>{{form.event__time | date:"MM/dd/yyyy 'at' h:mma"}}</td>
          <td>
            {{form.requestee__account__first_name}}
            {{form.requestee__account__last_name}}
          </td>
          <td>{{form.reason}}</td>
        </tr>
      </table>
    </div>

    <div class="well" ng-if="vm.receivedSubstitutionForms.length">
      <h1>Received substitution forms</h1>

      <table class="table table-striped table-hover">
        <tr>
          <th>Event</th>
          <th>Event time</th>
          <th>Member requesting substitute</th>
        </tr>

        <tr ng-repeat="form in vm.receivedSubstitutionForms">
          <td>{{form.event__title}}</td>
          <td>{{form.event__time | date:"MM/dd/yyyy 'at' h:mma"}}</td>
          <td>
            {{form.requester__account__first_name}}
            {{form.requester__account__last_name}}
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
