<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>View/edit attendance</h1>

    <div class="well">
      <table class="table table-striped table-hover">
        <tr>
          <th>Title</th>
          <th>Time</th>
          <th>Band</th>
          <th>Type</th>
        </tr>

        <tr ng-repeat="event in vm.events">
          <td>{{event.title}}</td>
          <td>{{event.time | date:"MM/dd/yyyy 'at' h:mma"}}</td>
          <td>{{event.band.identifier}}</td>
          <td>{{event.type.name}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
