<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1 class="text-center">Edit {{vm.account.first_name}}'s Account</h1>

    <div class="well">
      <form role="form" ng-submit="vm.editAccount()">
        <div class="form-group">
          <label for="edit__email">Email</label>
          <input type="email" class="form-control" id="edit__email" ng-model="vm.account.email">
        </div>

        <div class="form-group">
          <label for="edit__instrument_number">Instrument Number</label>
          <input type="number" class="form-control" id="edit__instrument_number" ng-model="vm.account.band_member.instrument_number">
        </div>

        <div class="form-group">
          <label for="edit__section">Section</label>
          <select class="form-control" id="edit__section" ng-model="vm.account.band_member.section" ng-options="section.value as section.name for section in vm.sections">
          </select>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
