<div id="splash-page-carousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#splash-page-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#splash-page-carousel" data-slide-to="1"></li>
    <li data-target="#splash-page-carousel" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner">
    <div class="item active">
      <img src="static/images/Slideshow_1.jpg">
    </div>
    <div class="item">
      <img src="static/images/Slideshow_2.jpg">
    </div>
    <div class="item">
      <img src="static/images/Slideshow_3.jpg">
    </div>
  </div>

  <a class="left carousel-control" href="#splash-page-carousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#splash-page-carousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
